# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env

# Distribution files
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db